<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <!-- 指定Web应用的定义名称 -->
  <display-name>loushang</display-name>

  <!-- 配置需要装载的Spring配置文件 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath*:/spring/datasource.xml
      classpath*:/spring/spring-context.xml
      classpath*:/spring/mybatis-context.xml
      classpath*:/spring/service/*
      classpath*:/spring/dao/*
    </param-value>
  </context-param>

<!-- <context-param>-->
<!--    <param-name>keycloak.config.resolver</param-name>-->
<!--    <param-value>sdk.security.util.PathBasedKeycloakConfigResolver</param-value>-->
<!--  </context-param>-->
<!--  <context-param>-->
<!--    <param-name>keycloak.config.file</param-name>-->
<!--    <param-value>classpath*:/keycloak.json</param-value>-->
<!--  </context-param>-->

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>All Resources</web-resource-name>
      <url-pattern>/service/*</url-pattern>
      <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>exclude</web-resource-name>

        <!-- 执行路由接口 -->
        <url-pattern>/service/api/execute/getAppList/*</url-pattern>
        <url-pattern>/service/api/execute/getserviceinput/*</url-pattern>
        <url-pattern>/service/api/execute/getAppInfo/*</url-pattern>
        <url-pattern>/service/api/execute/test/*</url-pattern>
        <url-pattern>/service/api/execute/do/*</url-pattern>

        <url-pattern>/service/open/api/getApiListPage</url-pattern>
        <url-pattern>/service/open/api/getApplyList</url-pattern>
        <url-pattern>/service/open/api/queryServiceByRemoteId</url-pattern>
        <url-pattern>/service/open/api/get/*</url-pattern>

            <!-- API 创建 -->
<!--        <url-pattern>/service/open/api/create</url-pattern>-->
<!--        <url-pattern>/service/open/api/add</url-pattern>-->


        <!--   全民健康信息发布平台 - 批量申请API    -->
        <url-pattern>/service/open/api/getAPIListPublishedPage</url-pattern>
        <url-pattern>/service/open/api/doApply</url-pattern>

        <!-- api批量导入 -->
        <url-pattern>/service/open/api/import</url-pattern>


        <!-- 数据开放 -->
        <url-pattern>/service/open/data/getApplyPage</url-pattern>
        <url-pattern>/service/open/data/getApplyList</url-pattern>
        <url-pattern>/service/open/data/get/*/apply</url-pattern>

        <url-pattern>/service/dev/group/listNoPage</url-pattern>

        <!-- 支付相关 -->
        <url-pattern>/service/pay/payNotifyUrl</url-pattern>
        <url-pattern>/service/pay/payReturnUrl</url-pattern>
    </web-resource-collection>
  </security-constraint>

  <login-config>
    <auth-method>KEYCLOAK</auth-method>
    <realm-name>indata-dw</realm-name>
  </login-config>

  <security-role>
    <role-name>*</role-name>
  </security-role>

  <!-- Spring字符编码过滤器配置，处理中文乱码 -->
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>




  <!-- Security SDK过滤器 -->
  <filter>
    <filter-name>SDKFilter</filter-name>
    <filter-class>
      sdk.security.filter.SDKFilter
    </filter-class>
    <init-param>
      <param-name>authzFilter</param-name>
      <param-value>false</param-value>
    </init-param>
   <init-param>
      <param-name>securityRequestWrapperExcludes</param-name>
<!--      <param-value>/service/nifi/database/insertHiveTables</param-value>-->
        <param-value>/service/nifi/database/insertHiveTables;.*/api/execute.*;</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SDKFilter</filter-name>
    <url-pattern>/service/*</url-pattern>
  </filter-mapping>



  <!-- Spring监听配置，Web容器启动自动装配ApplicationContext的配置信息-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Spring Servlet配置 -->
  <servlet>
    <servlet-name>springServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:/spring/mvc-context.xml,classpath*:/spring/controller/*</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>


  <servlet-mapping>
    <servlet-name>springServlet</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>


  <!--指定对应的格式的浏览器处理方式-->
  <mime-mapping>
    <extension>xml</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <!-- 默认登录页配置 -->
  <welcome-file-list>
    <welcome-file>jsp/public/home.jsp</welcome-file>
  </welcome-file-list>

  <!-- 错误页面的跳转配置 -->
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/public/404.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/jsp/public/500.jsp</location>
  </error-page>

  <taglib>
    <taglib-uri>/tags/loushang-web</taglib-uri>
    <taglib-location>/WEB-INF/tld/loushang-web.tld</taglib-location>
  </taglib>

</web-app>