@CHARSET "UTF-8";

.pagination_info {
    padding-top: 15px;
    float: left;
    width: 30%;
}

.pagination_number {
    float: right;
    text-align: right;
}

.service_info_title {
    font-size: 18px;
    font-family: "微软雅黑";
    height: 40px;
    line-height: 40px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: solid 1px #ccc;
}

.data-empty {
    height: 200px;
}
*{
	-webkit-box-sizing: content-box;
}
.content-body{
	width:100%;
	height:100%;
	/*float:left;*/
	background:#fff;
	margin-top:10px;
	min-height:550px;
}
.test-left{
    float: left;
    width: 47%;
    /*background: #fff;*/
    min-height: 450px;
    height: 450px;
    position: relative;
    border-radius: 5px;
}
.test-right{
	float: left;
    width: 48%;
    height: auto;
    margin-left: 30px;
}
.service-param {
    height: auto;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    background: white;
}
.test-clearfix {
    height: 30px;
}
.service-param-item {
    padding: 5px 0px 5px 0px;
    float: left;
}
.param-input {
    border: 1px solid #E7E7E7;
    box-shadow: 1px 1px 1px 0 #F0F0F0 inset;
    width: 230px;
    height: 22px;
    padding: 0 0 0 2px;
    vertical-align: top;
    color: #666666;
    line-height: 22px;
    margin-left: 5px;
}
.param-textarea {
    overflow: hidden;
    height: 50px;
    border: 1px solid #E7E7E7;
}

.param-textarea {
    width: 100%;
    overflow: auto;
    background: #fff;
    color: #333;
    height: 25vh;
    border: 1px solid #ddd;
}

#paramCon {
    margin-bottom: 10px;
}

.result-textarea {
    width: 100%;
    overflow: auto;
    background: #fff;
    color: #333;
    height: 45vh;
    border: 1px solid #ddd;
}
.call-service {
	margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

.call-service input {
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    padding: 0 0 0 3px;
    line-height: 25px;
    border: 0px;
    background-color: #0be;
    height: 35px;
    border-radius: 5px;
}
.returntitle{
    height: 30px;
    width: 98%;
    line-height: 30px;
    background: #F4F5F9;
    border: 1px solid #BBB;
    border-bottom: none;
    padding-left: 10px;
    font-size: 14px;
}
.left-title{
    position: relative;
    background: #F4F5F9;
    border: 1px solid #E1E6EB;
    border-bottom: none;
    padding: 0 12px 0 16px;
    font-size: 16px;
    height: 40px;
    line-height: 38px;
}
.left-title1{
    padding:10px;
}
.left-title2{
    border:1px solid #E1E6EB;
    padding:10px;
    margin: 0px 10px 0 10px;
    font-size: 12px;
}
select.columnType{
    height: 28px;
}
select.isNull{
    height: 28px;
}
.description{
    height: 20px;
    margin-top: 5px;
}
.appsinfo{
    height: 28px;
    margin-top: 10px;
}
.appselect{
    height: 25px;
}
.appsinfo input{
    background-color: #f6f7fa;
}

#request-test>table {
    font-size: 12px;
}