#page-title {
    border-bottom: 1px solid #DDDDDD;
    height: 40px;
    padding-left: 15px;
    padding-top: 10px;
    color: #666666;
    font-size: 14px;
}

#payList > tbody > tr > td:nth-child(1) {
    text-align: left;
    padding-left: 10px;
}

#payList > tbody > tr > td:nth-child(5) {
    text-align: left;
    padding-left: 4%;
}

