/* public settings
----------------------------------------------------------------------------- */
body {
    font-family: 'Microsoft YaHei';
}

html, body {
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* content
----------------------------------------------------------------------------- */
#recharge-content {
    border-bottom: 1px solid #DDDDDD;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: 18px;
    color: #999999;
}

#recharge-content i {
    margin-right: 10px;
    font-size: 24px;
    color: #42b3e5;
}

#recharge-content p {
    font-size: 14px;
    color: #c5c5c5;
    margin-top: 5px;
    margin-left: 30px;
}