/* public settings
----------------------------------------------------------------------------- */
body {
    font-family: 'Microsoft YaHei';
}
html,body {
    width: 100%;
    height: 100%;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* navbar
----------------------------------------------------------------------------- */
/*.header {
    color: #333;
    background-color: #FFF;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-bottom: 5px solid #42b3e5;
}*/
/* navbar-item-right
----------------------------------------------------------------------------- */
/*#nav-right {padding-top: 20px;}
@media screen and (max-width:991px) {
    #nav-right {
        padding-top: 0px;
    }
    .header {
        height: 140px;
    }
}*/
/* navbar-option
----------------------------------------------------------------------------- */
/*#nav-item > li > a {
    height: 40px;
    width: 80px;
    margin: 0px 5px;
    color: #333;
    font-size: 14px;
    padding: 10px 0px;
    text-align: center;
}
#nav-item > li > a:hover, #nav-item > li > a:focus {
    text-decoration: none;
    background-color: #42b3e5;
    color: #fff;
}
#nav-item > .active > a {
    background-color: #42b3e5;
    color: #fff;
}*/
/* control-button
----------------------------------------------------------------------------- */
/*#control-btn {
    border: 1px solid #42b3e5;
    border-radius: 15px;
    width: 80px;
    height: 30px;
    padding: 0px;
    padding-top: 5px;
    background-color: #fff;
    color: #42b3e5;
    font-size: 12px;
    margin: 8px 10px 8px 0px;
}
#control-btn:hover {
    background-color: #42b3e5;
    color: #fff;
    text-align: center;
}*/
/* user-login
----------------------------------------------------------------------------- */
/*#user-opt {
    margin-left: 40px;
}
#user-opt > li > a {
    color: #333;
    font-size: 12px;
    padding: 15px 10px 15px 10px;
}
#user-opt > li > a:hover, #user-opt > li > a:focus{
    background-color:transparent;
    color: #42b3e5;
}
@media screen and (max-width:768px) {
    #navbar-item, #user-opt {
        margin: 0px;
    }
    #user-opt > li#avatar-img {
        display: none;
    }
    a.dropdown-toggle {
        padding-left: 0px;
    }
}
.navbar-toggle {
    background-color: #e0e0e0;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
@media screen and (max-width:991px) {
    #nav-right {
        padding-top: 0px;
    }
    .header {
        height: 140px;
    }
}*/
/* media settings
----------------------------------------------------------------------------- */
/*@media screen and (max-width:768px) {
    #nav-con {
        background-color: #fff;
    }
    #nav-right {
        background: transparent;
        margin-top: -15px;
    }
    .header {
        height: 120px;
    }
    #navbar-collapse-1 {
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }
    #nav-item > li > a {
        width: 100%;
        text-align: left;
        padding-left: 10px;
        margin-bottom: 5px;
    }
    #nav-item > li > a:hover {
        text-decoration: none;
        color: #42b3e5;
        background-color: #e0e0e0;
    }
    #nav-item > .active > a {
        background-color: #e0e0e0;
        color: #42b3e5;
    }
}
@media screen and (max-width:326px) {
    .header {
        height: 120px;
    }
}*/
/* dev-duide
----------------------------------------------------------------------------- */
#api-container {
    margin-top: 20px;
}
@media screen and (max-width:768px) {
    #api-catalog {
        display: none;
    }
    #api-contents {
        width: 100%;
    }
}
#api-cat-top > span {
    padding-left: 40px;
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
}
#cat-icon {
    float: right;
    padding-right: 20px;
}
#api-cat-top {
    height: 60px;
    background-color: #42b3e5;
}
#api-cat-bottom>ul li a {
    border-radius: 0px;
    height: 50px;
    padding-left: 40px;
    font-size: 16px;
    padding-top: 14px;
    font-weight: 700;
    color: #333;
}
#api-cat-bottom>ul li a:hover {
    background-color: transparent;
    color: #0384ce;
}
#api-cat-bottom>ul li.active a, #api-cat-bottom>ul li.active a:hover {
    background: #f0f0f0;
    color: #0384ce;
}